.login-container{
    margin-top: 50px;
    text-align: center;
    width: 400px;
}

p{
    margin: 10px 0 !important;
}

.btn{
    border-radius: 10px;
}

.fa-small{
    font-size: 14px !important;
}