.login-container{
    margin-top: 50px;
    text-align: center;
    width: 400px;
}

p{
    margin: 10px 0 !important;
}

.btn{
    border-radius: 10px;
}

.fa-small{
    font-size: 14px !important;
}

.btn-float{
    float: left;
    margin-right: 14px;
}

.fa-edit{
    font-size: 14px !important;
}

.fa-trash{
    font-size: 14px !important;
}

.img-small{
    width: 160px;
}
/* Single Review Page */
.single-edit{
    color: orange !important;
}